@import '../config.scss';

@mixin btnSkills {
    text-transform: uppercase;
    padding: 8px 8px 4px 8px;
    border-radius: 20px;
    color: $FilterTablets;
    font-size: .8em;
    margin-right: 10px;
}
.profile{
    margin:  0 0 30px 0;
    padding: 35px 40px; 
   @include badgeStyle;

    
    .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 100px;
            height: 100%;
            border-radius: 50%;
            margin-right:30px; 
        }
        .description{
            text-align: left;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .states-company{
                display: flex;
                justify-content: flex-start;
                align-items: center; color: $FilterTablets;
                .company{
                    color: $DarkCyan;
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    margin-right: 10px;
                }
                .new{        
                    background-color: $DarkCyan;
                    @include btnSkills;
                }
                .featured{
                    background-color: black;
                    @include btnSkills;

                }
            }
            .position{
                color: black;
                font-weight: 700;
                margin: 0;
            }
            .features{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .desc-features{
                    color: $DarkGrayishCyan;
                    font-size: 12px;
                    margin: 0;
                }
            }
        }
        
    }
    .roles-skills{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-skills{
            padding: 10px;
            border: 0;
            margin-left: 20px;
            box-shadow: 0px 4px 6px hsla(180, 29%, 50%,.3);;
            border-radius: 5px;
            color:$DarkCyan;
            background-color: hsla(180, 29%, 50%,.15);
            font-weight: 700;
            cursor: pointer;
            outline:0;
            &:active{
                transform: scale(.9);
            }
        }
    }
}